<table id="fdr">
  <tr>
    <%= fields_for :qfounder do |q_form| %>
      <th>
        Founders:<span class="required">*</span>
      </th>
      <th><%= q_form.label :firstname, 'First name' %></th>
      <th><%= q_form.label :lastname, 'Last name' %></th>
      <th><%= q_form.label :role, 'Area of Expertise' %></th>
      <th><%= q_form.label :willcode, 'Will write code' %></th>
      <th><%= q_form.label :weblink, 'Linked-In Page / Web Site (if any)' %></th>
      <th/>
      <th/>
      <td>
        <%# if (@questionnaire.qfounders.size < 10) %>
          <button type="button" id="cloneit">Add Founder</button>
        <%# end %>
      </td>
    <% end %>
  </tr>
  <% if @questionnaire.qfounders.any? %>
    <% ix=0 %>
    <% for qfounder in @questionnaire.qfounders %>
      <%= fields_for qfounder, :index => ix do |q_form| %>
        <tr>
          <td/>
          <td><%= q_form.text_field :firstname, :size => 12 %></td>
          <td><%= q_form.text_field :lastname, :size => 12 %></td>
          <td><%= q_form.text_field :role, :size => 20 %></td>
          <td>
            <% qfx='qfounder['+ix.to_s+']' %>
            <%= hidden_field qfx, :willcode %>
            <% if qfounder.willcode == 1 %>
              <%= check_box_tag qfx+'[willcode]', '1', true %>
            <% else %>
              <%= check_box_tag qfx+'[willcode]', '1', false %>
            <% end %>
          </td>
          <td><%= q_form.text_field :weblink, :size => 30 %></td>
          <td/>
          <td/>
          <td><button type="button" id="rmit">Remove</button></td>
        </tr>
      <% ix += 1 %>
      <% end %>
    <% end %>
  <% end %>
</table>
<br/>
