<%= form_for :registration, :url => { :action => 'createbatch', :controller => 'registrations' } do |f| %>

  <table class="applytable">
    <tr>
      <td class="applytitle">Apply to Accelerators</td>
      <td class="applynotice" id="notice"><%= notice %></td>
      <td class="applyaction">
        <%= f.submit value='Apply to Accelerators Now' %>
        <%#= submit_tag(value='Apply to Accelerators', :disabled => true) %>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th class="index">
        <%= link_to 'Name', { :controller => "questionnaires", :action => "apply", :column => "name" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index">
        <%= link_to 'Location', { :controller => "questionnaires", :action => "apply", :column => "city" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index">
        <%= link_to 'Start Date', { :controller => "questionnaires", :action => "apply", :column => "startdate" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index">
        <%= link_to 'Length', { :controller => "questionnaires", :action => "apply", :column => "length" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index">
        <%= link_to 'Web Site', { :controller => "questionnaires", :action => "apply", :column => "website" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index">
        Description
      </th>
      <th class="index">
        <%= link_to 'Application', { :controller => "questionnaires", :action => "apply", :column => "duedate" }, :method => :get, :class => "noline" %>
        <%= link_to 'Due Date', { :controller => "questionnaires", :action => "apply", :column => "duedate" }, :method => :get, :class => "noline" %>
      </th>
      <th class="index nowrap">
        Will Accept Late<br/>Applications
      </th>
      <th class="index">Application<br/>Sent</th>
      <th class="index">Apply<br/>Now</th>
    </tr>

  <%# render? %>

  <div class="field">
    <% quid = @questionnaire.id %>
    <%= hidden_field_tag 'quid', quid %>
  </div>

  <% @accelerators.each do |accelerator| %>
    <tr>
      <td class="index">
        <%= accelerator.to_s %>
      </td>
      <td class="index">
        <% if (accelerator.country.nil? || accelerator.country.empty?) %>
          <%= accelerator.city + ", " + accelerator.state %>
        <% else %>
          <%= accelerator.city + ", " + accelerator.state + ", " + accelerator.country %>
        <% end %>
      </td>
      <td class="index"><%= accelerator.startdate %></td>
      <td class="index"><span class="nowrap"><%= accelerator.length %> weeks</span></td>
      <td class="index"><%= link_to accelerator.website, accelerator.website %></td>
      <td class="index round"><%= accelerator.description %></td>
      <td class="index"><%= accelerator.duedate %></td>
      <td class="indexctr">
        <% if (accelerator.acceptlate.nil? || accelerator.acceptlate.empty?) %>
          No
        <% else %>
          <%= accelerator.acceptlate %>
        <% end %>
      </td>
      <td class="indexctr">
        <!-- maybe I don't need this column? -->
        <%= Registration.getlastmatch(quid, accelerator.id) %>
      </td>
      <td class="indexctr">
        <%= check_box_tag "bx[" + accelerator.id.to_s + "]", "", false %>
      </td>
    </tr>
  <% end %>
  </table>

<% end %>

