<%= form_for :ac_registration, :url => { :action => 'createbatch', :controller => 'ac_registrations' } do |f| %>

  <div class="field clear">
    <% quid = nil %>
    <% if ! @questionnaire.nil? %>
      <% quid = @questionnaire.id %>
    <% end %>
    <%= hidden_field_tag 'quid', quid %>
  </div>

  <% if @accelerators.any? %>

  <% col = @sortcolumn %>
  <% order = @sortorder=="DESC" ? "ASC" : "DESC" %>

  <table class="accel">
    <tr>
      <th class="index">
        <%= link_to 'Name', { :controller => "questionnaires", :action => "apply", :column => "name", :order => col=="name" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index">
        <%= link_to 'Location', { :controller => "questionnaires", :action => "apply", :column => "city", :order => col=="city" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index">
        <%= link_to 'Start Date', { :controller => "questionnaires", :action => "apply", :column => "startdate", :order => col=="startdate" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index">
        <%= link_to 'Length', { :controller => "questionnaires", :action => "apply", :column => "length", :order => col=="length" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index">
        Description
      </th>
      <th class="index center">
        <%= link_to 'Application Due Date', { :controller => "questionnaires", :action => "apply", :column => "duedate", :order => col=="duedate" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index center">
        <%= link_to 'Accept Late Applications', { :controller => "questionnaires", :action => "apply", :column => "acceptlate", :order => col=="acceptlate" ? order : "ASC" }, :method => :get %>
      </th>
      <th class="index center">Application<br/>Sent</th>
      <th class="index center">Apply<br/>Now</th>
    </tr>

    <% @accelerators.each do |accelerator| %>
    <tr>
      <td class="index">
        <%= link_to accelerator.to_s, accelerator.website, :title => accelerator.website, :target => "_blank" %>
      </td>
      <td class="index">
        <% if (accelerator.country.nil? || accelerator.country.empty?) %>
          <%= accelerator.city + ", " + accelerator.state %>
        <% else %>
          <%= accelerator.city + ", " + accelerator.state + ", " + accelerator.country %>
        <% end %>
      </td>
      <td class="index"><%= accelerator.startdate %></td>
      <td class="index"><span class="nowrap"><%= accelerator.length %> weeks</span></td>
      <td class="index description"><div class="info round">
        <%= accelerator.description %> ... <%= link_to " more", accelerator.website, :title => accelerator.website, :class => "more_link", :target => "_blank" %>
      </div></td>
      <td class="index center"><%= accelerator.duedate %></td>
      <td class="index center">
        <% if (accelerator.acceptlate.nil? || accelerator.acceptlate.empty?) %>
          No
        <% else %>
          <%= accelerator.acceptlate %>
        <% end %>
      </td>
      <td class="index center">
        <!-- don't need this column if email works? -->
        <%= AcRegistration.getlastmatch(quid, accelerator.id) %>
      </td>
      <td class="index center">
        <%# if accelerator.acceptapp == "Yes" %>
          <%= check_box_tag "bx[" + accelerator.id.to_s + "]", "", false %>
        <%# end %>
      </td>
    </tr>
    <% end %> <!-- accelerators.each -->
  </table>
  <% end %> <!-- accelerators.any? -->

  <% if @accelerators.any? %>
    <%= f.submit value='Submit Application', :class => "bigbutton right", :title => "Email application to selected accelerators" %>
  <% else %>
    <%= f.submit value='Submit Application', :disabled => true, :class => "bigbutton right" %>
  <% end %>

<% end %> <!-- form -->

