<nav class="accel round">
  <ul class="accel">
    <li class="accel">
      <%= link_to 'Accelerators', accelerators_path %>
    </li>
    <li class="accel">
      <% if Questionnaire.any? %>
        <%= link_to 'Founders Applications', questionnaires_path %>
      <% else %>
        <%= link_to 'New Founders Application', new_questionnaire_path %>
      <% end %>
    </li>
    <li class="accel">
      <%# if isadmin? %>
        <%= link_to 'Registration List', registrations_path %>
      <%# end %>
    </li>
  </ul>
</nav>

<h2>Accelerator List</h2>

<nav>
  <%= button_to 'New Accelerator', { :controller => "accelerators", :action => "new" }, :method => :get %>
</nav>

<% if @accelerators.any? %>
<table>
  <tr>
    <th class="index">
      <%= link_to 'Name', { :action => "index", :column => "name"}, :method => :get, :class => "noline" %>
    </th>
    <th class="index">
      <%= link_to 'Location', { :action => "index", :column => "city"}, :method => :get, :class => "noline" %>
    </th>
    <th class="index">
      <%= link_to 'Start Date', { :action => "index", :column => "startdate"}, :method => :get, :class => "noline" %>
    </th>
    <th class="index">
      <%= link_to 'Length', { :action => "index", :column => "length"}, :method => :get, :class => "noline" %>
    </th>
    <th class="index">
      <%= link_to 'Web Site', { :action => "index", :column => "website"}, :method => :get, :class => "noline" %>
    </th>
    <th class="index">Description</th>
    <th class="index">
      <!--span>Application</span><br/!-->
      <%= link_to 'Application', { :action => "index", :column => "duedate"}, :class => "noline" %>
      <br/>
      <%= link_to 'Due Date', { :action => "index", :column => "duedate"}, :class => "noline" %>
    </th>
    <th class="index nowrap">Will Accept Late<br/>Applications</th>
    <th></th>
  </tr>

  <% @accelerators.each do |accelerator| %>
  <tr>
    <td class="index">
      <%= accelerator.to_s %>
    </td>
    <td class="index">
      <% if (accelerator.country.nil? || accelerator.country.empty?) %>
        <%= accelerator.city + ", " + accelerator.state %>
      <% else %>
        <%= accelerator.city + ", " + accelerator.state + ", " + accelerator.country %>
      <% end %>
    </td>
    <td class="index"><%= accelerator.startdate %></td>
    <td class="index"><span class="nowrap"><%= accelerator.length %> weeks</span></td>
    <td class="index"><%= link_to accelerator.website, accelerator.website %></td>
    <td class="index round"><%= accelerator.description %></td>
    <td class="index"><%= accelerator.duedate %></td>
    <td class="indexctr">
      <% if (accelerator.acceptlate.nil? || accelerator.acceptlate.empty?) %>
        No
      <% else %>
        <%= accelerator.acceptlate %>
      <% end %>
    </td>
    <td class="index">
      <%#= link_to 'Details', accelerator, :class => "nowrap" %>
      <%= button_to 'Show Details', { :controller => "accelerators", :action => "show", :id => accelerator.id }, :method => :get %>
    </td>
  </tr>
  <% end %> <!-- @accelerators.each -->
</table>
<% end %> <!-- if @accelerators.any? -->

<br />

