<div class="span-4 bigfont">
  Accelerator List
</div>

<% if @accelerators.any? %>

<div class="right">
  <%# if User.questionnaire.any? %>
  <% if Questionnaire.any? %>
    <%= button_to 'Apply to Accelerators', { :controller => "questionnaires", :action => "show", :id => Questionnaire.last.id }, :method => :get, :class => "bigbutton" %>
  <% else %>
    <%= button_to 'Apply to Accelerators', { :controller => "questionnaires", :action => "new" }, :method => :get, :class => "bigbutton" %>
  <% end %>
</div>

<% end %>

<%= render 'accelerator_users/shared/logout' %>

<% if @accelerators.any? %>

<table class="accel">
  <tr>
    <th class="index">
      <%= link_to 'Name', { :action => "index", :column => "name"}, :method => :get %>
    </th>
    <th class="index">
      <%= link_to 'Location', { :action => "index", :column => "city"}, :method => :get %>
    </th>
    <th class="index">
      <%= link_to 'Start Date', { :action => "index", :column => "startdate"}, :method => :get %>
    </th>
    <th class="index">
      <%= link_to 'Length', { :action => "index", :column => "length"}, :method => :get %>
    </th>
    <th class="index">Description</th>
    <th class="index center nowrap">
      <%= link_to 'Application', { :action => "index", :column => "duedate"} %>
      <br/>
      <%= link_to 'Due Date', { :action => "index", :column => "duedate"} %>
    </th>
    <th class="index center nowrap">
      <%= link_to 'Accept Late', { :action => "index", :column => "acceptlate" } %><br/>
      <%= link_to 'Applications', { :action => "index", :column => "acceptlate"} %>
    </th>
    <!--th class="index center nowrap">
      <%#= link_to 'Accept Founders', { :action => "index", :column => "acceptapp"} %><br/>
      <%#= link_to 'Hookup Applications', { :action => "index", :column => "acceptapp"} %>
    </th!-->
    <th/>
  </tr>

  <% @accelerators.each do |accelerator| %>
  <tr>
    <td class="index">
      <% if accelerator.website.nil? || accelerator.website.empty? %>
        <%= accelerator.to_s %>
      <% else %>
        <%= link_to accelerator.to_s, accelerator.website, :title => accelerator.website, :target => "_blank" %>
      <% end %>
    </td>
    <td class="index">
      <% if (accelerator.country.nil? || accelerator.country.empty?) %>
        <%= accelerator.city + ", " + accelerator.state %>
      <% else %>
        <%= accelerator.city + ", " + accelerator.state + ", " + accelerator.country %>
      <% end %>
    </td>
    <td class="index"><%= accelerator.startdate %></td>
    <td class="index"><span class="nowrap"><%= accelerator.length %> weeks</span></td>
    <td class="index description"><div class="info round">
      <%= accelerator.description %>
      ... <%= link_to " more", accelerator.website, :title => accelerator.website, :class => "more_link", :target => "_blank" %>
    </div></td>
    <td class="index"><%= accelerator.duedate %></td>
    <td class="index center">
      <% if (accelerator.acceptlate.nil? || accelerator.acceptlate.empty?) %>
        No
      <% else %>
        <%= accelerator.acceptlate %>
      <% end %>
    </td>
    <!--td class="index center">
      <%# if (accelerator.acceptapp.nil? || accelerator.acceptapp.empty?) %>
        No
      <%# else %>
        <%#= accelerator.acceptapp %>
      <%# end %>
    </td!-->
    <td class="index">
      <%# if is_admin? || %>
      <% if (accelerator_user_signed_in? && (accelerator.accelerator_user_id == current_accelerator_user.id)) %>
        <%= button_to 'Edit', { :controller => "accelerators", :action => "edit", :id => accelerator.id }, :method => :get, :class => "small" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% else %>

  <p class="clear">No accelerators found.</p>

<% end %>

<%= render 'accelerator_users/shared/login' %>

<ul class="clear accel">
  <li class="nostyle">
    <%# if is_admin? || %>
    <% if accelerator_user_signed_in? && current_accelerator_user.accelerator.nil? %>
      <%= button_to 'Create New Accelerator', { :controller => "accelerators", :action => "new" }, :method => :get %>
    <% end %>
  </li>
</ul>

