<fieldset class="accel-form nomargin">
  <legend>Company Information</legend>

  <table>
    <tr>
      <td><b>Company Name:</b></td>
      <td colspan=2><%= @questionnaire.companyname %></td>
      <td/>
    </tr>
    <tr>
      <td><b>Website:</b></td>
      <td colspan=2>
        <% if (@questionnaire.website.nil? || @questionnaire.website.empty?) %>
           None
        <% else %>
          <%= link_to @questionnaire.website, @questionnaire.website, :target => "_blank" %>
        <% end %>
      </td>
      <td/>
    </tr>
    <tr>
      <td><b>Contact:</b></td>
      <td>Name: </td>
      <td><%= @questionnaire.firstname + " " + @questionnaire.lastname %></td>
    </tr>
    <tr>
      <td/>
      <td>Email: </td>
      <td><%= @questionnaire.email %></td>
    </tr>
  </table>

</fieldset>
<br/>
 
<%= render :partial => "qfounders/list" %>

<br/>
<fieldset class="accel-form nomargin">
  <legend>Questionnaire</legend>

  <p>
    <b>Founder Team Background:</b>
    <%= @questionnaire.team %>
  </p>

  <p>
    <b>Description:</b>
    <%= @questionnaire.description %>
  </p>

  <p>
    <b>Web Video:</b>
    <% if (@questionnaire.webvideo.nil? || @questionnaire.webvideo.empty?) %>
       None
    <% else %>
      <%= link_to @questionnaire.webvideo, @questionnaire.webvideo %>
    <% end %>
  </p>

  <p>
    <b>Business Plan:</b>
    <%= @questionnaire.businessplan %>
  </p>

  <p>
    <b>Competition:</b>
    <%= @questionnaire.competition %>
  </p>

  <p>
    <b>Other Significant Founder Projects:</b>
    <%= @questionnaire.other %>
  </p>

  <p>
    <b>Investors:</b>
    <%= @questionnaire.invest %>
  </p>

  <p>
    <b>Advisors / Mentors:</b>
    <%= @questionnaire.advisor %>
  </p>

</fieldset>

<br/>
<p>Thank you for using Founders Hookup!  Visit us online at <%= link_to @url, @url %>.  
</p>
<p>
If you have any questions or comments, please contact us at <%= @support_email %> or call <%= @support_phone %>.  
</p>

