<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Welcome to rails.example.com, <%= @accel.name %></h4>
    <p>
      You are receiving a registration from FoundersHookup.com,
      and your city is: <%= @accel.city %>.<br/>
    </p>

<br/>
<h3>Founders Hookup Application</h3>
<p>The following is an application to your accelerator <%= @accel.name %>
   from <%= @questionnaire.companyname %> via Founders Hookup.
</p>
<br/>

<!-- could share partial with questionnaires/show -->
<p>
  <b>Company Name:</b>
  <%= @questionnaire.companyname %>
</p>

<p>
  <b>Website:</b>
  <% if (@questionnaire.website.nil? || @questionnaire.website.empty?) %>
     None
  <% else %>
    <%= link_to @questionnaire.website, @questionnaire.website %>
  <% end %>
</p>

<p>
  <b>Contact:</b>
  <span>Name:</span>
  <%= @questionnaire.firstname + " " + @questionnaire.lastname + ", " %>
  <span> Email:</span>
  <%= @questionnaire.email %>
</p>

<%= render :partial => "qfounders/list" %>

<p>
  <b>Founder Team Background:</b>
  <%= @questionnaire.team %>
</p>

<p>
  <b>Description:</b>
  <%= @questionnaire.description %>
</p>

<p>
  <b>Web Video:</b>
  <% if (@questionnaire.webvideo.nil? || @questionnaire.webvideo.empty?) %>
     None
  <% else %>
    <%= link_to @questionnaire.webvideo, @questionnaire.webvideo %>
  <% end %>
</p>

<p>
  <b>Business Plan:</b>
  <%= @questionnaire.businessplan %>
</p>

<p>
  <b>Competition:</b>
  <%= @questionnaire.competition %>
</p>

<p>
  <b>Other Founder Projects:</b>
  <%= @questionnaire.other %>
</p>

<p>
  <b>Investors:</b>
  <%= @questionnaire.invest %>
</p>

<p>
  <b>Advisors / Mentors:</b>
  <%= @questionnaire.advisor %>
</p>

<br/>
<p>Thanks and have a great day!</p>
    
  </body>
</html>
