<div class="push-1 span-9 last" style="font-size:0.9em">
  <% if accelerator_user_signed_in? %>
    <%= current_accelerator_user.name %> accelerator 
    <%= link_to "logged in.", edit_accelerator_user_registration_path, :title => "Edit accelerator login" %>
    Not you?
    <%= link_to "Log out", destroy_accelerator_user_session_path, :method => :delete %>
  <% end %>
</div>

<p class="clear"><%= notice %></p>
<p class=""><%= alert %></p>

