<% if @questionnaire.new_record? %>
  <% @questionnaire.qfounders.build %> <!-- makes three qfounders -->
  <% @questionnaire.qfounders.build %>
  <% @questionnaire.qfounders.build %>
<% else %>
  <% if (@questionnaire.qfounders.size < 10) %>
    <% @questionnaire.qfounders.build %> <!-- makes one qfounder -->
  <% end %>
<% end %>

<p id="notice"><b class="required"><%= notice %></b></p>

<%= form_for @questionnaire do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation" class="clear">
      <h3 class="required"><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this application from being saved:</h3>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="accel-form nomargin">
    <legend>Company Information</legend>
    <table class="clear span-22 last">
      <tr class="nomargin no_stripe">
        <td><b class="nowrap">Company Name:</b><span class="required">*</span></td>
        <td colspan=4><%= f.text_field :companyname, :size => 80 %></td>
      </tr>
      <tr class="nomargin no_stripe">
        <td class="nowrap"><%= f.label :website, "Website (if any)" %></td>
        <td colspan=4><%= f.text_field :website, :size => 80 %></td>
      </tr>
      <tr class="nomargin no_stripe">
        <td class="nowrap">
          <b>Primary Contact:</b><span class="required">*</span>
        </td>
        <td class="nowrap"><%= f.label :firstname, "First name" %></td>
        <td>
          <%= f.text_field :firstname, :size => 23 %>
        </td>
        <td class="nowrap"><%= f.label :lastname, "Last name" %></td>
        <td>
          <%= f.text_field :lastname, :size => 23 %>
        </td>
      </tr>
      <tr class="nomargin no_stripe">
        <td/>
        <td><%= f.label :email %></td>
        <td colspan=3><%= f.text_field :email, :size => 70 %></td>
      </tr>
    </table>
  </fieldset>

  <br/>
  <%= render :partial => 'qfounders/form', :locals => {:form => f} %>

<fieldset class="accel-form nomargin">
<legend>Questionnaire</legend>
  <table class="clear span-22 last">
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :team, "Can you tell us about the founders team background?" %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%= f.text_area :team, :id => "team", :class => "span-15 charcount maxchar500" %>
<!-- 6 x 80 seems to be 6 x 55, try 6 x 120 => 6 x 82.5 ...
     huh! value of :cols is ignored!  -->
      </td>
      <td class="nomargin"><span id="team_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b class="nowrap">
        <%= f.label :description, "Please describe your company or project in 2-3 sentences." %><span class="required">*</span>
      </b></td>
      <td/>
    </tr>
    <tr class="no_stripe">
      <td>
        <%#= f.text_area :description, :rows => 6, :cols => 80 %>
        <%= f.text_area :description, :id => "describe", :class => "span-15 charcount maxchar500" %>
      </td>
      <td>
        <span id="describe_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad">
        <b><%= f.label :webvideo, "You may also submit a web video describing your company or project." %></b>
        <br/><%= f.text_field :webvideo, :size => 65 %>
      </td>
      <td>
        <br/>
        <span class="span-6 small addpad">Please keep video under 2 minutes.</span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :businessplan, "Please describe your business plan, customer base, and potential revenue stream." %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%= f.text_area :businessplan, :id => "business", :class => "span-15 charcount maxchar500" %>
      </td>
      <td class="nomargin"><span id="business_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :competition, "Who are your competitors, if any, and how your product is different from theirs?" %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%#= f.text_area :competition, :rows => 6, :cols => 80 %>
        <%= f.text_area :competition, :id => "comp", :class => "span-15 charcount maxchar500" %>
      </td>
      <td class="nomargin"><span id="comp_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :other, "If the founders have contributed to other significant projects, please describe." %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%= f.text_area :other, :id => "other", :class => "span-15 charcount maxchar500" %>
      </td>
      <td class="nomargin"><span id="other_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :invest, "If you have any investors, please describe." %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%= f.text_area :invest, :id => "invest", :class => "span-15 charcount maxchar500" %>
      </td>
      <td class="nomargin"><span id="invest_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
    <tr class="no_stripe">
      <td class="addpad"><b>
        <%= f.label :advisor, "If you have advisors or mentors working with you, please describe." %>
      </b></td>
    </tr>
    <tr class="no_stripe">
      <td>
        <%= f.text_area :advisor, :id => "advisor", :class => "span-15 charcount maxchar500" %>
      </td>
      <td class="nomargin"><span id="advisor_ct" class="span-4 small ctpad"></span>
      </td>
    </tr>
  </table>
</fieldset>

  <br/>
  <div class="actions span-6">
    <% if @questionnaire.new_record? %>
      <%= f.submit value='Create New Accelerator Application' %>
    <% else %>
      <%= f.submit value='Update Accelerator Application' %>
    <% end %>
  </div>
<% end %>
