
<!-- use a div or span? -->
<ul class="right span-7">
  <!--li class="nostyle">
    <br/>
  </li!-->
  <li class="">
    To apply to accelerators:
  </li>
  <li class="nostyle">
    Select <b>Apply Now</b> for accelerators you are interested in, then click <b>Submit Application</b> to email your application.
  </li>
  <!--li class="nostyle">
    To apply to accelerators:
  </li>
  <li class="nostyle">
    <ul>
      <li class="">
        Select <b>Apply Now</b> check boxes.
      </li>
      <li class="">
        Click <b>Submit Application</b> to email your accelerator application.
      </li>
    </ul>
  </li!-->
</ul>

<ul class="span-14 notice round">
<!-- use a table? -->
  <li class="nostyle bigfont">
<!-- use fieldset, title? -->
    <b>Accelerator Application</b>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Company Name:</b></span>
    <span class="span-8 last"><%= @questionnaire.companyname %></span>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Founders:</b></span>
    <span class="span-8 last"><%= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %></span>
  </li>
  <li class="nostyle">
    <span class="span-6 prepend-1 mediumfont">
      <%= link_to 'View Application Details', @questionnaire %>
    </span>
  </li>
  <!--li class="nostyle">
    <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
  </li!-->
</ul>

<br class="last clear"/>
<span id="notice" class="clear"><i><%= notice %></i></span>

<br class="last clear"/>

<%= render :partial => 'accelerators/list' %>

<ul class="accel">
  <li class="nostyle">
    <%= link_to 'Back to Accelerator List', accelerators_path %>
  </li>
</ul>

