
<!-- use a div or span? -->
<!--div class="right span-7 applybox applycolor round">
  <span class="nostyle mediumfont">
    <b><i>To apply to accelerators:</i></b>
  </span>
  <!--fieldset class="applybox round"!-->
    <!--ul class="mediumfont">
      <li>
        Select <b>Apply Now</b> for accelerators you are interested in.
      </li>
      <li>
        Click <b>Submit Application</b> to email your application.
      </li>
    <ul>
  <!--/fieldset!-->
<!--/div!-->

<ul class="right span-6 applybox applycolor round">
  <li class="nostyle ">
    <b><i>To apply to accelerators:</i></b>
  </li>
  <!--fieldset class="applybox round"!-->
  <!--li class="nostyle mediumfont">
    Select <b>Apply Now</b> for accelerators you are interested in, then click <b>Submit Application</b> to email your application.
  </li!-->
  <li class="nostyle mediumfont">
    <ul>
      <li>
        Select <b>Apply Now</b> for accelerators you are interested in.
      </li>
      <li>
        Click <b>Submit Application</b> to email your application.
      </li>
    </ul>
  </li>
  <!--/fieldset!-->
</ul>

<ul class="span-15 applybox applycolor round">
  <fieldset class="applybox round">
    <legend><b><i>Accelerator Application</i></b></legend>
    <li class="nostyle">
      <span class="span-4"><b>Company Name:</b></span>
      <span class="span-10 last"><%= @questionnaire.companyname %></span>
    </li>
    <li class="nostyle">
      <span class="span-4"><b>Founders:</b></span>
      <span class="span-10 last"><%= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %></span>
    </li>
    <li class="nostyle">
      <span class="span-4 prepend-1 mediumfont">
        <%= link_to 'View Application Details', @questionnaire %>
      </span>
      <span class="span-4 mediumfont last right">
        <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
      </span>
    </li>
  </fieldset>
</ul>

<!--ul class="span-14 applybox round">
  <li class="nostyle bigfont">
    <b><i>Accelerator Application</i></b>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Company Name:</b></span>
    <span class="span-8 last"><%#= @questionnaire.companyname %></span>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Founders:</b></span>
    <span class="span-8 last"><%#= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %></span>
  </li>
  <li class="nostyle">
    <span class="span-6 prepend-1 mediumfont">
      <%#= link_to 'View Application Details', @questionnaire %>
    </span>
  </li>
  <!--li class="nostyle">
    <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
  </li>
</ul!-->

<br class="last clear"/>
<span id="notice" class="clear"><i><%= notice %></i></span>

<br class="last clear"/>

<%= render :partial => 'accelerators/list' %>

<ul class="accel">
  <li class="nostyle">
    <%= link_to 'Back to Accelerator List', accelerators_path %>
  </li>
</ul>

