<h4><b>Accelerator Application</b></h4>

<ul class="right">
  <li class="nostyle">
    <%= link_to 'Show Application Details', @questionnaire %>
  </li>
  <!--li class="nostyle">
    <%#= link_to 'Edit Application', edit_questionnaire_path(@questionnaire) %>
  </li>
  <li class="nostyle">
    <%#= link_to 'List Applications', questionnaires_path %>
  </li!-->
</ul>

<p>
<span class="span-16 last">
  <b>Company Name:</b>
  <%= @questionnaire.companyname %>
</span>
<span class="span-16 last">
  <b>Founders:</b>
  <%= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %>
</span>
</p>

<!--p class="span-18">
  <b>Description:</b>
  <span class="info round span-18 last"><%#= @questionnaire.description %></span>
</p!-->

<p class="clear">
<ul class="clear">
  <li class="span-16 last">
    To email your application, select the 'Apply Now' check boxes below for Accelerators of interest, and click 'Submit Application'.
  </li>
</ul>
</p>

<!--ul class="right">
  <li class="accel_menu" style="width:94px">
    <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
  </li>
</ul!-->

<p id="notice" class="clear apply_notice"><%= notice %></p>

<hr/>

<%= render :partial => 'accelerators/list' %>

<ul class="right">
  <li class="accel_menu">
    <%= link_to 'List All Accelerators', accelerators_path %>
  </li>
</ul>

