<h4><b>Apply to Accelerators</b></h4>

<ul class="right">
  <li class="nostyle">
    <%= link_to 'Show Application Details', @questionnaire %>
  </li>
  <!--li class="nostyle">
    <%#= link_to 'Edit Application', edit_questionnaire_path(@questionnaire) %>
  </li!-->
  <!--li class="nostyle">
    <%#= link_to 'List Applications', questionnaires_path %>
  </li!-->
  <!--li class="nostyle">
    <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
  </li!-->
</ul>

<p>
<span class="span-18 last">
  <span class="span-3"><b>Application for:</b></span>
  <span class="span-15 last"><%= @questionnaire.companyname %></span>
</span>
<span class="span-18 last">
  <span class="span-3"><b>Founders:</b></span>
  <span class="span-15 last"><%= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %></span>
</span>
</p>

<p class="clear"/>
<p class="clear">
<!--ul class="clear">
  <li class="span-22 last">
    To email your application, select the 'Apply Now' check boxes below for Accelerators of interest, then click 'Submit Application'.
  </li>
</ul!-->
<span>
    To email your application, select the <b>Apply Now</b> check boxes below for Accelerators of interest, then click <b>Submit Application</b>.
</span>
</p>

<span id="notice" class="clear "><%= notice %></span>

<hr/>

<%= render :partial => 'accelerators/list' %>

<ul class="right">
  <li class="accel_menu">
    <%= link_to 'List All Accelerators', accelerators_path %>
  </li>
</ul>

