
<!-- use a div or span? -->
<ul class="right span-7 applybox round">
  <li class="nostyle prepend-1">
    <i>To apply to accelerators:</i>
  </li>
  <li class="nostyle">
    <span class="">
    Select <b>Apply Now</b> for accelerators you are interested in, then click <b>Submit Application</b> to email your application.
    </span>
  </li>
</ul>

<ul class="span-14 applybox round">
<!-- use a table? -->
  <li class="nostyle bigfont">
<!-- use fieldset, legend? -->
    <b><i>Accelerator Application</i></b>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Company Name:</b></span>
    <span class="span-8 last"><%= @questionnaire.companyname %></span>
  </li>
  <li class="nostyle">
    <span class="span-4"><b>Founders:</b></span>
    <span class="span-8 last"><%= @questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %></span>
  </li>
  <li class="nostyle">
    <span class="span-6 prepend-1 mediumfont">
      <%= link_to 'View Application Details', @questionnaire %>
    </span>
  </li>
  <!--li class="nostyle">
    <%#= link_to 'Email Test Application', '#', :title => "Email a Test Application to Founders" %>
  </li!-->
</ul>

<br class="last clear"/>
<span id="notice" class="clear"><i><%= notice %></i></span>

<br class="last clear"/>

<%= render :partial => 'accelerators/list' %>

<ul class="accel">
  <li class="nostyle">
    <%= link_to 'Back to Accelerator List', accelerators_path %>
  </li>
</ul>

