<h4><b>List of Accelerator Applications</b></h4>

<ul class="accel small">
  <li class="nostyle span-19 last">
    Accelerator applications may be used to apply to accelerator programs.  A founder may create multiple applications for each company or project.  By default, the last application is used.
  </li>
  <li class="clear left_margin">
    Click on Edit to view an application and edit its details.
  </li>
  <li class="left_margin">
    Click on Apply to use an application to apply to accelerators.
  </li>
  <li class="left_margin">
    Click on Create New Accelerator Application to start a new application.
  </li>
</ul>
<br/>

<% if @questionnaires.any? %>
  <table class="accel">
    <tr>
      <th class="index">Company Name</th>
      <th class="index">Website</th>
      <th class="index">Contact Email</th>
      <th class="index">Founders</th>
      <th class="index">Description</th>
      <th class="index">Web Video</th>
      <th class="index center">Edit</th>
      <th class="index center">Apply to<br/>Accelerators</th>
    </tr>

    <% @questionnaires.each do |questionnaire| %>
    <tr>
      <td class="index"><%= questionnaire.companyname %></td>
      <td class="index"><%= link_to questionnaire.website, questionnaire.website %></td>
      <td class="index"><%= questionnaire.email %></td>
      <td class="index">
        <%#= questionnaire.qfounders.map { |t| t.firstname + " " + t.lastname }.join(", ") %>
        <% if questionnaire.qfounders.any? %>
          <%= questionnaire.qfounders.map { |t| t.lastname }.join(", ") %>
        <% else %>
          <span class="required">None</span>
        <% end %>
      </td>
      <td class="index description">
        <div class="notice round"><%= questionnaire.description %></div>
      </td>
      <td class="index">
        <% if (questionnaire.webvideo.nil? || questionnaire.webvideo.empty?) %>
           None
        <% else %>
          <%= link_to questionnaire.webvideo, questionnaire.webvideo %>
        <% end %>
      </td>
      <td class="index center">
        <%#= link_to 'Edit', edit_questionnaire_path(questionnaire), :class => "small" %>
        <%= button_to 'Edit', { :controller => "questionnaires", :action => "edit", :id => questionnaire.id }, :method => :get, :class => "small" %>
      </td>
      <td class="index center">
        <%#= link_to 'Apply', apply_questionnaire_path(questionnaire), :class => "small" %>
        <% if questionnaire.qfounders.any? %>
          <%= button_to 'Apply', { :controller => "questionnaires", :action => "apply", :id => questionnaire.id }, :method => :get, :class => "small" %>
        <% else %>
          <%= button_to 'Apply', { :controller => "questionnaires", :action => "apply", :id => questionnaire.id }, :method => :get, :class => "small", :disabled => :true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<ul class="accel">
  <li class="nostyle">
    <%= button_to 'Create New Accelerator Application', { :controller => "questionnaires", :action => "new" }, :method => :get %>
  </li>
</ul>

