<footer>
  <section>
    <ul>
      <li>
        <h3>Founders<span class='dblue'>Hookup</span></h3>
        <p><%= link_to "Click here", "http://www.foundershookup.com", :target => "_blank", :class => "footer_link" %>
            to go to the official Founders Hookup web site.
        </p>
        <p> &copy; 2011 FoundersHookup.Inc. <br/>
        All rights reserved.  <br/>
        </p>
      </li>

      <li>
        <h3>Site</h3>
        <ul style='padding-left: 0px !important;'>
          <li><%= link_to "Home", root_path, :class => 'footer_desc' %></li>
          <li><%= link_to "About Us", about_path, :class => 'footer_desc' %></li>
          <li><%= link_to "Beta Test", beta_path, :class => 'footer_desc' %></li>
          <li><%= link_to "Contact Us", about_path+"#contact", :class => 'footer_desc' %></li>
        </ul>
      </li>
      
      <li>
        <h3>Follow Us</h3>
        <p href='#'>
          <img src="images/ideaware/icn/icn_fb.png" alt="Facebook" />
          <img src="images/ideaware/icn/icn_tw.png" alt="Twitter" />
        </p>
        <br/>
      </li>
				
      <li class="last">
        <h3>Contact Us</h3>
        <a class='footer_desc' href="mailto:support@foundershookup.com">support@foundershookup.com</a>
          <span class='footer_desc'>
            <strong>FoundersHookup, Inc.</strong> <br />
  					660 4th Street #487 <br />
  					San Francisco, CA 94107 <br />
            Phone: +1-415-309-8860
          </span>
      </li>
    </ul>
  </section>
</footer>
